// Variables
$primary-color: #3b94a3;
$secondary-color: #050505;
$button-color: #000000;
$text-color: #1b1b1b;
$footer-text-color: #333;
$hover-color: #3b94a3;

// Estilos globales
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap; // Ajuste automático de los elementos
  justify-content: center; // Centra todos los elementos horizontalmente
  align-items: center; // Centra verticalmente
  padding: 20px;
  gap: 15px; // Espacio uniforme entre los enlaces y el logo

  .logo {
    flex: 1;
    display: flex;
    justify-content: center; // Centra horizontalmente dentro de su contenedor

    img {
      height: 120px; // Ajusta el tamaño según tu logo
      width: 120px;
    }
  }

  .left-links,
  .right-links {
    flex: 1; // Distribuye espacio equitativamente
    display: flex;
    justify-content: flex-start; // Para la izquierda
    align-items: center;
    gap: 20px;

    &.right-links {
      justify-content: flex-end; // Para la derecha
    }
  }
  a {
    color: black;
  }
}

.cart-btn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-color;
  }

  .cart-icon {
    font-size: 18px;
    color: black; // Ícono de carrito negro
  }
}

.main-container {
  text-align: left;
  border: 2px solid $secondary-color; // Borde alrededor del contenedor
  padding: 20px;
  background-color: $primary-color;

  h1,
  p,
  button {
    max-width: 800px; // Limitar el ancho máximo del texto
    display: block;
  }

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    color: $text-color;
    margin-bottom: 20px;
  }

  .buy-btn {
    background-color: $button-color;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color;
    }

    &:link,
    &:visited {
      background-color: $button-color;
      color: white;
      text-decoration: none; // Sin subrayado
    }

    &:active {
      background-color: $button-color; // Igual al estado normal
      color: white;
      box-shadow: none; // Sin sombras al hacer clic
    }

    &:focus {
      outline: none; // Evita contornos de foco
    }
  }
}

.features-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;

  i,
  h3,
  p,
  a {
    max-width: 300px; // Limitar el ancho máximo del texto
    margin: 0 auto; // Centrar los elementos dentro del contenedor
    display: block;
  }

  h2 {
    font-size: 2em;
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .features {
    display: flex; // Asegura que los elementos estén alineados
    justify-content: space-evenly; // Distribuye los íconos en el contenedor
    align-items: flex-start; // Alinear los elementos al inicio
    flex-wrap: wrap; // Permite que los elementos se ajusten si es necesario

    .feature {
      text-align: center;
      width: 30%; // Asegura que haya espacio entre los íconos
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      i {
        font-size: 4em; // Aumenta el tamaño de los íconos
        color: $secondary-color;
        margin-bottom: 15px; // Margen inferior para separación con el título
      }

      h3 {
        font-weight: bold;
        font-size: 1.2em;
        color: $secondary-color;
        margin: 15px 0; // Agrega margen superior e inferior consistente
      }

      p {
        color: $footer-text-color;
        margin: 15px 0; // Agrega margen superior e inferior consistente
      }

      a {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;
        margin-top: 15px; // Margen superior para el enlace

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.separador {
  border: none;
  height: 3px; // Grosor de la línea
  background-color: $secondary-color; // Color de la línea
  margin: 20px 0; // Espaciado arriba y abajo
}

// Estilos para el footer
footer {
  background-color: #ffffff;
  color: black;
  padding: 40px 20px;

  .footer-container {
    display: flex;
    justify-content: flex-start; // Cambiar para alinear todo a la izquierda
    align-items: flex-start;
    flex-wrap: wrap;

    .footer-logo img {
      width: 120px; // Ajusta el tamaño de la imagen del logo
      height: auto;
      margin-right: 100px; // Reducir el margen entre el logo y "Información general"
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: auto; // Controla el ancho del footer
      margin-left: 20px;
    }

    .footer-info,
    .footer-connect,
    .footer-subscribe {
      margin: 0; // Eliminar márgenes adicionales
      margin-bottom: 10px; // Agregar espacio vertical entre las secciones
      padding: 0;
      margin-right: 50px; // Agregar margen derecho para espaciar más las secciones

      h3 {
        font-size: 1.2em;
        color: $secondary-color;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin: 5px 0;
      }

      a,
      button {
        text-decoration: none;
        color: $secondary-color;
        font-size: 1em;
      }

      a:hover,
      button:hover {
        text-decoration: underline;
      }

      .footer-subscribe input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        width: 200px;
      }

      .footer-subscribe button {
        padding: 10px 20px;
        background-color: $button-color;
        color: white;
        border: black;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $primary-color;
        }
      }
    }

    .footer-info h3,
    .footer-connect h3,
    .footer-subscribe h3 {
      font-size: 1.2em;
      color: $secondary-color;
      margin-bottom: 10px;
      text-decoration: underline; // Subrayar el texto
    }

    .footer-info ul li a {
      font-size: 0.9em;
      color: $secondary-color;
    }

    .footer-info ul li a:hover {
      text-decoration: underline;
    }
  }

  .footer-bottom {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center; // Asegura que todo esté centrado horizontalmente
    text-align: center; // Centra el texto
    padding: 20px 15px;
    border: 2px solid $secondary-color;
    border-radius: 25px;
    margin-top: 20px;
    gap: 10px; // Añade espacio uniforme entre los elementos

    .footer-text {
      color: black;
      display: flex;
      font-weight: bold;

      p {
        margin: 20px 20px;
      }

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }

    .footer-social {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin-left: 20px;
        color: rgb(0, 0, 0);
        font-size: 1.5em;

        &:hover {
          color: white;
        }
      }
    }
  }
}

// Estilos de enlaces globales
a {
  text-decoration: none;
  color: black; // Enlaces negros en todos los estados
  font-weight: bold;

  &:hover {
    color: $primary-color; // Azul al pasar el mouse
  }

  &:active {
    color: black; // Negro cuando están activos
  }
}

// Media Queries para Responsividad
// Tablet (pantallas medianas)
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px 10px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-connect,
  .footer-subscribe {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .features-container .features {
    flex-direction: column;
    align-items: center;
  }

  .main-container h1 {
    font-size: 2em;
  }

  .main-container p {
    font-size: 1.1em;
  }
}

// Móviles (pantallas pequeñas)
@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .logo img {
    height: 50px;
    width: auto;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .footer-text {
    font-size: 0.7em;
    padding: 10px;
  }

  .features-container .features {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main-container {
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .main-container h1 {
    font-size: 1.5em;
  }

  .main-container p {
    font-size: 1em;
  }
}
